extends /_layout/base

block vars
  - var meta_title = '';
  - var meta_description = '';
  - var meta_keywords = '';
  - var body_class = 'index';
  - var meta_path = '/';
  - var meta_ogp_img = "ogp.png";

block content
  .bg
    .main
      header.header
        .title INVITATION

      .inner
        .header
          .title.sub Jiro & Masako
          h1.title WEDDING PARTY

          .comment
            p
              | write message...
        .list
          .js-map

        .form
          .js-form