.p-header__left
  .p-nav
    ul.c-nav
      li.c-nav__item
        a(href="/#about") About
      li.c-nav__item
        a(href="/#works") Works
      li.c-nav__item
        a(href="/#price") Price
      li.c-nav__item
        a(href="/#qa") Q&A

  .p-header__contact
    a.c-button(href="./contact.html") Contact