.js-toggle-menu
  .l-menu-bg(@click.prevent="closeMenu", :class="{ 'is-active': isActive }")
  .l-menu(:class="{ 'is-active': isActive }")
    .l-menu__inner
      ul.p-menu__list
        li.p-menu-item
          a(href="/") TOP
        li.p-menu-item
          a(href="/#about") About
        li.p-menu-item
          a(href="/#works") Works
        li.p-menu-item
          a(href="/#price") Price
        li.p-menu-item
          a(href="/#qa") Q&A

      .p-menu__contact
        a.c-button(href="./contact.html") Contact

  .l-menu-btn
    a.c-button-menu(href="#", @click.prevent="toggleMenu", :class="{ 'is-active': isActive }")
      span.c-button-menu-bar.c-button-menu-bar--1
      span.c-button-menu-bar.c-button-menu-bar--2
      span.c-button-menu-bar.c-button-menu-bar--3